<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Name</th>
      <th>Weblink</th>
      <th>phone number</th>
      <th>Description</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Meest USA</td>
      <td>https://us.meest.com/humanitarian-aid-packages-for-ukraine</td>
      <td>800-288-9949.</td>
      <td>International package and freight delivery service</td>
      <td>Subsidized delivery to Ukraine</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Meest Canada</td>
      <td>https://ca.meest.com/</td>
      <td>800-288-9949.</td>
      <td>International package and freight delivery service</td>
      <td>Subsidized delivery to Ukraine</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Ukraine Helpers</td>
      <td>https://ukraine-helpers.com/</td>
      <td>ShippingToUkraine</td>
      <td>Humanitarian help and donation site</td>
      <td>provides list of supplies needed</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Ukrainian Orthodox Holy Ascension Cathedral</td>
      <td>https://ukrcoc.org/en/9661</td>
      <td>(973) 471-8131</td>
      <td>Church address: 635 Broad St Clifton, NJ 07013</td>
      <td>List of supplies urgently needed</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Razom for Ukraine</td>
      <td>https://razomforukraine.org/</td>
      <td>(646) 449 9750</td>
      <td>Humanitarian aid site and warehouse</td>
      <td>Contact before shipping</td>
    </tr>
    <tr>
      <th>5</th>
      <td>UNWLA/Ukrainian National Women’s League of America</td>
      <td>https://unwla.org/top-news/call-for-humanitarian-aid/</td>
      <td>(212) 533-4646</td>
      <td>Donate for Ukraine</td>
      <td>Several Branches</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Amazon wishlist (Support for Ukraine)</td>
      <td>https://www.amazon.com/hz/wishlist/ls/2FWSLNH0C93UU</td>
      <td>NaN</td>
      <td>Direct Help for Ukraine (directhelpforukraine@gmail.com)</td>
      <td>Site owners:  Daniella Matiko, Vladimir Semitchev</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Amazon wishlist (Support for Ukraine)</td>
      <td>https://www.amazon.com/registries/custom/SVKOZC9EUDHP/guest-view</td>
      <td>NaN</td>
      <td>Archer's Project AID for UKRAINE</td>
      <td>Site owner:  Gabriella Mitselmakher</td>
    </tr>
  </tbody>
</table>