<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Country</th>
      <th>Street Address</th>
      <th>City</th>
      <th>State</th>
      <th>zip code</th>
      <th>phone number 1</th>
      <th>phone number 2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>USA</td>
      <td>500 East Harvard Street</td>
      <td>Glendale</td>
      <td>CA</td>
      <td>91205</td>
      <td>(800) 617-2545</td>
      <td>(818) 547-4910</td>
    </tr>
    <tr>
      <th>1</th>
      <td>USA</td>
      <td>600 Markley Street</td>
      <td>Port Reading</td>
      <td>NJ</td>
      <td>07064</td>
      <td>(800) 288-9949</td>
      <td>(732) 634-1517</td>
    </tr>
    <tr>
      <th>2</th>
      <td>USA</td>
      <td>27 Merry Lane</td>
      <td>East Hanover</td>
      <td>NJ</td>
      <td>07936</td>
      <td>(973) 947-6185</td>
      <td>(973) 947-6132</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Canada</td>
      <td>97 Six Point Rd</td>
      <td>Toronto</td>
      <td>ON</td>
      <td>M8Z 2X3</td>
      <td>(800) 361-7345</td>
      <td>(416) 236-2032</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Poland</td>
      <td>Mełgiewska 29 hala B / Rama T3</td>
      <td>Lublin</td>
      <td>Polska</td>
      <td>20-234</td>
      <td>48 72 244 4000</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Poland</td>
      <td>Pol-Cel, Rampa Brzeska 63,</td>
      <td>Chelm</td>
      <td>Polska</td>
      <td>22-100</td>
      <td>48 82 565 0155</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>